<a href="https://colab.research.google.com/github/jesyraf/SQL-projects/blob/main/sql_games.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Ten best-selling video games
<p>Database contains two tables. Each table has 400 rows. Complete dataset on <a href="https://www.kaggle.com/holmjason2/videogamedata">Kaggle</a>. </p>
<h3 id="game_sales"><code>game_sales</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>game</code></td>
<td>varchar</td>
<td>Name of the video game</td>
</tr>
<tr>
<td style="text-align:left;"><code>platform</code></td>
<td>varchar</td>
<td>Gaming platform</td>
</tr>
<tr>
<td style="text-align:left;"><code>publisher</code></td>
<td>varchar</td>
<td>Game publisher</td>
</tr>
<tr>
<td style="text-align:left;"><code>developer</code></td>
<td>varchar</td>
<td>Game developer</td>
</tr>
<tr>
<td style="text-align:left;"><code>games_sold</code></td>
<td>float</td>
<td>Number of copies sold (millions)</td>
</tr>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Release year</td>
</tr>
</tbody>
</table>
<h3 id="reviews"><code>reviews</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>game</code></td>
<td>varchar</td>
<td>Name of the video game</td>
</tr>
<tr>
<td style="text-align:left;"><code>critic_score</code></td>
<td>float</td>
<td>Critic score according to Metacritic</td>
</tr>
<tr>
<td style="text-align:left;"><code>user_score</code></td>
<td>float</td>
<td>User score according to Metacritic</td>
</tr>
</tbody>
</table>

In [ ]:
%%sql
postgresql:///games

SELECT *
from game_sales
order by games_sold DESC
LIMIT 10

10 rows affected.

[('Wii Sports for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('82.90'), 2006),
 ('Super Mario Bros. for NES', 'NES', 'Nintendo', 'Nintendo EAD', Decimal('40.24'), 1985),
 ('Counter-Strike: Global Offensive for PC', 'PC', 'Valve', 'Valve Corporation', Decimal('40.00'), 2012),
 ('Mario Kart Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('37.32'), 2008),
 ("PLAYERUNKNOWN'S BATTLEGROUNDS for PC", 'PC', 'PUBG Corporation', 'PUBG Corporation', Decimal('36.60'), 2017),
 ('Minecraft for PC', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010),
 ('Wii Sports Resort for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('33.13'), 2009),
 ('Pokemon Red / Green / Blue Version for GB', 'GB', 'Nintendo', 'Game Freak', Decimal('31.38'), 1998),
 ('New Super Mario Bros. for DS', 'DS', 'Nintendo', 'Nintendo EAD', Decimal('30.80'), 2006),
 ('New Super Mario Bros. Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('30.30'), 2009)]

## 2. Review scores

In [ ]:
%%sql 

SELECT COUNT(g.game)
from game_sales as g
left join reviews as r
on g.game = r.game
WHERE critic_score IS NULL AND user_score IS NULL;

 * postgresql:///games
1 rows affected.

[(31,)]

## 3. Best years

In [ ]:
%%sql

SELECT g.year, ROUND(AVG(r.critic_score), 2) as avg_critic_score
from game_sales as g
join reviews as r
on g.game = r.game
group by g.year
order by avg_critic_score DESC
LIMIT 10

 * postgresql:///games
10 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (1998, Decimal('9.32')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (2004, Decimal('9.03')),
 (1982, Decimal('9.00')),
 (2002, Decimal('8.99')),
 (1999, Decimal('8.93'))]

## 4. Year 1982

In [ ]:
%%sql 

SELECT g.year, ROUND(AVG(r.critic_score), 2) as avg_critic_score, COUNT(g.game) as num_games
from game_sales as g
join reviews as r
on g.game = r.game
group by g.year
having COUNT(g.game) > 4
order by avg_critic_score DESC
LIMIT 10

 * postgresql:///games
10 rows affected.

[(1998, Decimal('9.32'), 10),
 (2004, Decimal('9.03'), 11),
 (2002, Decimal('8.99'), 9),
 (1999, Decimal('8.93'), 11),
 (2001, Decimal('8.82'), 13),
 (2011, Decimal('8.76'), 26),
 (2016, Decimal('8.67'), 13),
 (2013, Decimal('8.66'), 18),
 (2008, Decimal('8.63'), 20),
 (2012, Decimal('8.62'), 12)]

## 5. Best critics' years

<h3 id="top_critic_years"><code>top_critic_years</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>
<h3 id="top_critic_years_more_than_four_games"><code>top_critic_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>

In [ ]:
%%sql 

SELECT year, avg_critic_score
from top_critic_years
EXCEPT
select year, avg_critic_score
from top_critic_years_more_than_four_games
order by avg_critic_score DESC

 * postgresql:///games
6 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (1982, Decimal('9.00'))]

## 6. Best players years

In [ ]:
%%sql 

SELECT g.year, ROUND(AVG(r.user_score), 2) as avg_user_score, COUNT(g.game) as num_games
from game_sales as g
join reviews as r
on g.game = r.game
group by g.year
having COUNT(g.game) > 4
order by avg_user_score DESC
LIMIT 10

 * postgresql:///games
10 rows affected.

[(1997, Decimal('9.50'), 8),
 (1998, Decimal('9.40'), 10),
 (2010, Decimal('9.24'), 23),
 (2009, Decimal('9.18'), 20),
 (2008, Decimal('9.03'), 20),
 (1996, Decimal('9.00'), 5),
 (2005, Decimal('8.95'), 13),
 (2006, Decimal('8.95'), 16),
 (2000, Decimal('8.80'), 8),
 (1999, Decimal('8.80'), 11)]

## 7. Best years
<h3 id="top_critic_years_more_than_four_games"><code>top_critic_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>
<h3 id="top_user_years_more_than_four_games"><code>top_user_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_user_score</code></td>
<td>float</td>
<td>Average of all user scores for games released in that year</td>
</tr>
</tbody>
</table>

In [ ]:
%%sql 

SELECT year
from top_critic_years_more_than_four_games
INTERSECT
select year
from top_user_years_more_than_four_games

 * postgresql:///games
3 rows affected.

[(1998,), (2008,), (2002,)]

## 8. Sales in the best video game years

In [ ]:
%%sql 

SELECT year, SUM(games_sold) as total_games_sold
from game_sales
where year in
(SELECT year
from top_critic_years_more_than_four_games
INTERSECT
select year
from top_user_years_more_than_four_games)
group by year
order by total_games_sold DESC

 * postgresql:///games
3 rows affected.

[(2008, Decimal('175.07')),
 (1998, Decimal('101.52')),
 (2002, Decimal('58.67'))]